body {
  font-family: 'Open Sans', sans-serif;
}

.warp {
  height: 100%;
}

.sidebar {
  width: 376px;
  height: 100%;
  background: @midnight;
  position: fixed;
  top: 0;
  left:0px;
  h1 {
    margin: 15px 0 0 0;
    font-size: 16px;
  }
  .menuToggle {
    display: block;
    background: @midnight;
    padding: 5px 10px 5px 5px;
    position: absolute;
    top: 29.5%;
    left: 376px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    text-decoration: none;
    font-size: 32px;
    color: @white;
  }
  .avatar {
    text-align: center;
    margin: 35px 0 0 0;
    img {
      border-radius: 100px;
      width: 170px;
      height: 170px;
      border: 13px solid #41515E;
      //-webkit-box-shadow: 0 10px 10px 0 rgba(0,0,0,0.15);
      //box-shadow: 0 10px 10px 0 rgba(0,0,0,0.15);
    }
  }
  .social {
    ul {
      padding: 0 0 0 25px;
    }
    ul li {
      display: inline-block;
      margin-right: 10px;
      a {
        text-decoration: none;
        color: #566776;
        font-size: 32px;
        &:hover {
          color: @white;
        }
      }
      b { display: none; }
    }
  }
}

#content {
  padding: 25px;
}

.entry-content {
  padding-bottom: 25px;
  margin-bottom: 35px;
  border-bottom: 1px solid @clouds;
  h2 {
    font-size: 32px;
    margin-top: 5px;
    font-weight: normal;
    }
  a {
    color: @asphalt;
    text-decoration: none;
    &:hover {
      color: @linksover;
      text-decoration: underline;
    }
  }
  p {
    font-size: 16px;
    line-height:28px;
    color:#555555;
  }
  .data {
    color: @silver;
    font-size: 16px;
  }
  .more {
    font-size: 14px;
    display: inline-block;
    border-radius: 4px;
    border: solid 1px @asphalt;
    padding: 5px 14px;
    &:hover {
      border: solid 1px @linksover;
      text-decoration: none;
    }
  }
}

@media (min-width: 320px) {

  .entry-content {
    p {
      line-height:23px;
    }
  }

}

@media (min-width : 480px) {

.entry-content {
  p {
      line-height:24px;
    }
  }

}

@media (min-width : 720px) {

.entry-content {
  p {
      line-height:26px;
    }
  }

}

@media (min-width : 800px) {


}

@media (min-width : 1200px) {

.entry-content {
  p {
      line-height:28px;
    }
  }

}